<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <package android:name="com.dishii.soh" />
        <package android:name="com.retroarch.aarch64" />
        <package android:name="io.github.poptracker.android" />
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Archipelago Companion"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="join"
                    android:scheme="archipelago-companion" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:mimeType="application/vnd.gg.archipelago.companion-invite"
                    android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/vnd.gg.archipelago.companion-invite" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GeneratorActivity"
            android:exported="false" />
        <activity
            android:name=".HostedRoomsActivity"
            android:exported="false" />
        <activity
            android:name=".ApWorldManagerActivity"
            android:exported="false" />
        <activity
            android:name=".ClientConsoleActivity"
            android:exported="false" />
        <activity
            android:name=".AuthenticatedWebActivity"
            android:exported="false" />
        <activity
            android:name=".RoomLibraryActivity"
            android:exported="false" />
        <activity
            android:name=".BackupRestoreActivity"
            android:exported="false" />
        <provider
            android:name=".InviteFileProvider"
            android:authorities="${applicationId}.files"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/shared_invite_paths" />
        </provider>
        <provider
            android:name=".CompanionDocumentsProvider"
            android:authorities="${applicationId}.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
        <service
            android:name=".BridgeService"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Maintains a user-visible loopback connection to an emulator core during active gameplay" />
        </service>
    </application>
</manifest>
